.round_bg {
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.immutable_bg {
    -fx-control-inner-background: #f8f8f8;
}

.common_bg {
    -fx-background-color: #e8ffff;
}

.dark-bg_bright-fg {
    -fx-border-color: #d0d0d0;
    -fx-background-color: #80dfdf;
    -fx-text-fill: #004f8f;
}
